.App {
  text-align: center;
}

.start {
  opacity: 0;
}

/* transition : 애니메이션 주는거, opacity가 변경될 때, 0.5초걸려서 변경해라라는 뜻 */
.end {
  opacity: 1;
  transition: opacity 0.5s;
}
/* .pic { */
/* ima: url('./img/imgTest.png'); */

/* } */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Appa {
  width: 100000px;
}

.pic-si {
  color: #282c34;
  margin-left: auto;
  margin-right: auto;
}

.main-bg {
  height: 300px;
  background-image: url("./하늘.jpg");
  background-size: cover;
  background-position: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

img {
  margin-top: 50px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
